﻿.datepicker {
	padding: 1px 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.row-top-margin {
	margin-top: 20px;
}

input[type='text'].timepicker {
	width: 2em;
}

.report-container {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 5px;
}

.report-buttons {
	margin-bottom: 5px;
}

.report-submit {
	margin-top: 5px;
}

.error {
	color: red;
}