﻿<script>
	$(document).ready(function () {
		Email.initializeSaveConfigButton();
		Email.setUpdateConfigEndpoint('@Url.Action("UpdateConfig", "Reports")');
	});
</script>

<div class="modal" id="emailEntry">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">@LangResources.Lang.ConfigureEmailNotification</h4>
			</div>
			<div class="modal-body">
				<p>@LangResources.Lang.EmailNotificationInstructions</p>
				<p id="emailConfigError" class="error" style="display: none">@LangResources.Lang.EnterRequiredFields</p>
				<label for="emailInput">@LangResources.Lang.EmailAddress</label>
				<input type="email" class="form-control" id="emailInput" placeholder="@LangResources.Lang.EnterEmail" required />
				<label for="maxKwhInput">@LangResources.Lang.MaxKwh</label>
				<input type="number" class="form-control" id="maxKwhInput" placeholder="@LangResources.Lang.EnterMaxKwh" required/>
			</div>
			<div class="modal-footer">
				<button id="cancelConfigButton" type="button" data-dismiss="modal" class="btn">@LangResources.Lang.Cancel</button>
				<button id="saveConfigButton" type="button" class="btn btn-primary">@LangResources.Lang.Save</button>
			</div>
		</div>
	</div>
</div>