﻿
<div class="row row-top-margin">
	<h3><b>@LangResources.Lang.ReportsHeader</b></h3>
</div>

<div class="row row-top-margin">
	<div class="col-xs-8">
		<div class="row">
			<div id="reportButtons" class="report-buttons">
				<div class="btn-group" data-toggle="buttons-radio">
					<button type="button" data-toggle="button" name="reportType" value="total" class="btn btn-primary active">@LangResources.Lang.Total</button>
					<button type="button" data-toggle="button" name="reportType" value="weekly" class="btn btn-primary">@LangResources.Lang.Weekly</button>
					<button type="button" data-toggle="button" name="reportType" value="daily" class="btn btn-primary">@LangResources.Lang.Daily</button>
					<button type="button" data-toggle="button" name="reportType" value="hourly" class="btn btn-primary">@LangResources.Lang.Hourly</button>
				</div>
			</div>
		</div>

		<p id="reportError" class="error row" style="display: none"></p>

		<div id="startDateTimeFields" class="row">
			<input type="text" class="datepicker" data-date-format="yyyy/mm/dd" data-date-autoclose="true" placeholder="@LangResources.Lang.StartDate"/>
			<input type="text" placeholder="hh" maxlength="2" class="timepicker hour"/>
			<label>:</label>
			<input type="text" placeholder="mm" maxlength="2" class="timepicker minute"/>
			<label>:</label>
			<input type="text" placeholder="ss" maxlength="2" class="timepicker second" />
		</div>

		<div id="endDateTimeFields" class="row">
			<input type="text" class="datepicker" data-date-format="yyyy/mm/dd" data-date-autoclose="true" placeholder="@LangResources.Lang.EndDate"/>
			<input type="text" placeholder="hh" maxlength="2" class="timepicker hour"/>
			<label>:</label>
			<input type="text" placeholder="mm" maxlength="2" class="timepicker minute"/>
			<label>:</label>
			<input type="text" placeholder="ss" maxlength="2" class="timepicker second" />
		</div>
		
		<div class="row">
			<button id="submitButton" class="btn btn-primary report-submit">@LangResources.Lang.Submit</button>
		</div>
	</div>
	<div class="col-xs-4">
		<a data-toggle="modal" href="#emailEntry" class="btn btn-primary">@LangResources.Lang.ConfigureEmailNotification</a>
		@Html.Partial("EmailEntryModal")
	</div>
</div>

<div class="row row-top-margin">
	<div class="col-md-12">
		<div id="loadingShim" style="display:none" >
			<img src="~/Content/images/ajax-loader.gif"/>
		</div>
		<div id="reportPlaceholder" class="row"></div>
	</div>
</div>

<script>
	$(document).ready(function () {
		var getReportUrl = '@Url.Action("GetReport", "Reports")';

		Reports.initializeDateTimeFields();
		Reports.initializeReportButtons();
		Reports.initializeSubmitButton(getReportUrl);
		Reports.getDefaultReport(getReportUrl);
	});
</script>