﻿@model IEnumerable<ASQL.A1.WebClient.ViewModels.KwhTableRow>

<script>
	$(document).ready(function() {
		var labelPoints = @Html.Raw(Json.Encode(Model.Select(row => "")));
		var data = @Html.Raw(Json.Encode(Model.Select(row => row.Kwh)));

		Reports.initializeChart(labelPoints, data);
	});
</script>

<div class="row">
	<div class="col-xs-6" style="float: none; margin: 0 auto;">
		<canvas id="kwhChart" width="300" height="200"></canvas>
	</div>
</div>