﻿@using ASQL.A1.WebClient.Domains.KwhUsage.Models
@model ASQL.A1.WebClient.ViewModels.KwhUsageIntervalReport

<div class="col-xs-12 report-container">
	<h4><b>@Model.ReportHeader</b></h4>
	<p><b>@Html.DisplayFor( model => model.StartDateTime) - @Html.DisplayFor( model => model.EndDateTime)</b></p>
	@switch (Model.TimeInterval) {
		case Interval.TimeInterval.Weekly:
			@Html.Partial("WeeklyKwhTable", Model.KwhTableRows)
			break;
		case Interval.TimeInterval.Daily:
			@Html.Partial("DailyKwhTable", Model.KwhTableRows)
			break;
		case Interval.TimeInterval.Hourly:
			@Html.Partial("HourlyKwhTable", Model.KwhTableRows)
			break;
	}
</div>