﻿@model ASQL.A1.WebClient.ViewModels.TotalKwhReport

<div class="report-container">
	<h4><b>@LangResources.Lang.TotalKwhReport</b></h4>
	<p><b>@Html.DisplayFor( model => model.StartDateTime) - @Html.DisplayFor( model => model.EndDateTime)</b></p>
	<p>@String.Format(LangResources.Lang.KwhUnit, Model.TotalKwh)</p>
</div>