﻿@model IEnumerable<ASQL.A1.WebClient.ViewModels.KwhTableRow>

@Html.Partial("KwhChart", Model)

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<td><b>@LangResources.Lang.WeekBeginning</br></td>
			<td><b>@LangResources.Lang.Kwh</br></td>
		</tr>
	</thead>
	<tbody>
		@foreach (var row in Model) {
			<tr>
				<td>@Html.DisplayFor(model => row.ReadDate)</td>
				<td>@row.Kwh</td>
			</tr>
		}
	</tbody>
</table>
